<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App - About Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <style>
        .cont_abt-us{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: calc(100vh - 80px);
            perspective: 500px;
            width: max(900px, 60vw);
            margin: auto;
        }
        :root{
            --c6: #aa96ff; 
            --d6: #8f73ff;
        }
        .pImg{
            width: 350px;
            height: 350px;
            border-radius: 30% 70% 48% 52% / 39% 30% 70% 61% ;
            background-color: #FFF323;
            background-color: #fffb23;
            /* background-image: url("./Assests/a.png"); */
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            overflow: hidden;
            box-shadow: rgba(50, 50, 93, 0.25) 20px 100px 200px -40px,
            rgba(0, 0, 0, 0.3) 10px 90px 120px -60px, 
            rgba(10, 37, 64, 0.35) 10px -4px 12px 0px inset,
            rgba(10, 37, 64, 0.35) -3px 0px 12px 0px inset;
        }
        .p2{
            display: none;
        }
        .pImg > img{
            width: 350px;
            filter: drop-shadow(-15px -5px 12px rgba(0, 0, 0, 0.644));
        }
        .a2{
            font-size: 50px;
            font-weight: bolder;
            font-family: 'Lobster', cursive;
            color: rgb(253, 252, 198);
            text-align: center;
        }
        .a3{
            font-weight: bold;
            color: white;
        }
        .content{
            padding: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* border: 2px solid red; */
            width: 400px;
            height: 500px;
            background: rgb(183,166,253);
            background: linear-gradient(225deg, rgba(183,166,253,1) 6%, rgba(92,22,223,1) 100%);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset,
            rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            border-radius: 30px;
            transform: rotateY(-10deg);
        }
        .a1{
            color: white;
        }
        @media (max-width: 991px) {
            .cont_abt-us{
                max-width: 100vw;
            }
            .pImg{
                width: 300px;
                height: 300px;
            }
            .pImg > img{
                width: 300px;
            }
            .content{
                width: 350px;
            }
        }
        @media (max-width: 700px) {
            .cont_abt-us{
                max-width: 100vw;
                flex-direction: column;
                height: (100vh - 18px);
            }
            .a2{
                text-align: center;
            }
            .p1{
                display: none;
            }
            .p2{
                display: block;
            }
            .pImg{
                margin: 0 auto;
                width: 200px;
                height: 200px;
                align-self: flex-start;
                background-color: white;
            }
            .pImg > img{
                width: 200px;
            }
            .content{
                width: 350px;
                height: 600px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }
        }
        .icons > a{
            color: black;
            text-decoration: none;
            font-size: 30px;
            padding: 3px;
        }
        </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/"><em class="fas fa-cloud"></em> Weather App</a>
        <button class="navbar-toggler" id="toggleBtn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <em class="fas fa-bars text-primary"></em>
        </button>
        <div class=" collapse navbar-collapse" id="navbarSupportedContent">
            <div class="menu bg-primary">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active mx-4">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" href="/weather">Weather</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>

    <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#0099ff" fill-opacity="1" d="M0,128L48,112C96,96,192,64,288,80C384,96,480,160,576,170.7C672,181,768,139,864,122.7C960,107,1056,117,1152,112C1248,107,1344,85,1392,74.7L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>

    <div class="cont_abt-us">
        <div class="pImg p1">
            <img src="./Assests/a.png" alt="">
        </div>
        <div class="content d-flex">
            <div class="pImg p2" >
                <img src="./Assests/a.png" alt="">
            </div>
            <h3 class="a1 ">Hello!</h3>
            <h1 class="a2 ">I'm Md. Arish</h1>
            <p class="a3">I love turning chai into code.</p>
            <div class="icons">
                <a href="https://twitter.com/Arish8_2" target="_blank">
                    <em class="fab fa-twitter"></em>
                </a>
                <a href="https://github.com/Arish82" target="_blank">
                    <em class="fab fa-github"></em>
                </a>
                <a href="https://www.linkedin.com/in/md-arish-a48145160/" target="_blank">
                    <em class="fab fa-linkedin-in"></em>
                </a>
                <a href="https://www.instagram.com/md_arish82/" target="_blank">
                    <em class="fab fa-instagram"></em>
                </a>
            </div>
        </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/d3c7399aa7.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/d3c7399aa7.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</html>